.dropDownProfile{
    position: absolute;
    top: 6.5rem;
    right: 13.2rem;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    z-index: 1;
}

.dropDownProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.drop-btns{
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.drop-btns:hover{
    border-bottom: 2px solid rgb(9, 36, 95);
}