.multi-cards{
    height: 250px;
    width: 350px;
    border: none;
    border-radius: 20px;
}

.mul-carousel-container{
    margin-right: 200px;
    margin-left: 200px;
}

.carousel-main{
    background-color: rgba(0, 0, 0, 0.085);
}