*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
}

.p-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.slider-background{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0px 20px;
    position: relative;
}

.p-img-container{
    width: 100%;
    height: 300px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.p-img a,
.p-img{
    width: 100%;
    height: 300px;
    display: flex;
}

.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    animation: fade 0.6s;
}

.p-img-container:hover .p-img-front{
    opacity: 0;
    display: none;
    transition: opacity 0.6s ease;
}

@keyframes fade {
    0%{
        opacity: 0
        ;
    }
    100%{
        opacity: 1;
    }
}

.p-box-text{
    margin: 5px;
    width: 100%;
}

.product-category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-category span{
    color: #000000;
    font-size: 0.9rem;
    margin: 5px 0px;
}

.product-title{
    color: #000000c7;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-title:hover{
    color: white;
    opacity: 0.5;
    transition: all ease 0.3s;
}

.price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price-buy .p-price{
    font-size: 1.3rem;
    color: #000000;
    font-weight: 700;
}

.price-buy .buy-btn{
    color: #ffffff;
    margin: 0px 5px;
    font-weight: 600;
}

.buy-btn{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}

.price-buy .p-price:hover{
    text-decoration: underline;
}

.p-discount{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 65px;
    height: 24px;
    color: white;
    background-color: #e63b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    z-index: 100;
    border-radius: 3px;
}