.spinnerReactstrap{
    margin-top: 40vh !important;
    width: 100px !important;
    height: 100px !important;
    border: 10px solid currentColor !important;
    border-right-color: transparent !important;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}